<h4>{{#if title}}{{title}}{{/if}}</h4>
<ul>
	{{#if skill-01}}<li>{{skill-01}}</li>{{/if}}
	{{#if skill-02}}<li>{{skill-02}}</li>{{/if}}
	{{#if skill-03}}<li>{{skill-03}}</li>{{/if}}
	{{#if skill-04}}<li>{{skill-04}}</li>{{/if}}
	{{#if skill-05}}<li>{{skill-05}}</li>{{/if}}
	{{#if skill-06}}<li>{{skill-06}}</li>{{/if}}
	{{#if skill-07}}<li>{{skill-07}}</li>{{/if}}
	{{#if skill-08}}<li>{{skill-08}}</li>{{/if}}
	{{#if skill-09}}<li>{{skill-09}}</li>{{/if}}
	{{#if skill-10}}<li>{{skill-10}}</li>{{/if}}
</ul>